body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    height: 750px;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 100%;
    background-color: #007bff;
    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #0056b3;
}
form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3 );
    position: absolute;
    width: 350px;           
}